body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fc1e8a;
    -webkit-user-select: none ;
    user-select: none;
}

.container {
    margin-top: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(325deg, 
    #03001e 0%,
    #7303c0 30%,
    #ec38bc 70%,
    #fdeff9 109%);
    padding: 40px 60px;
    box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.5);

    h2 {
        font-size: 3em;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
}

.reset {
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-decoration: uppercase;
    cursor: pointer;
    font-weight: 600;

    &:focus {
        color: #ec38bc;
        background-color: #262809;
    }
}

.game {
    width: 550px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: #404040;
        transition: 0.25s;
        transform: rotateY(0deg);
        backface-visibility: hidden;
    }
}

.item, .boxOpen {
    transform: rotateY(0deg);
}

.boxOpen, .boxMatch {
    &::after {
        transform: rotateY(180deg);
    }
}

footer {
    margin-top: 28px;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #3f0d57;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.5);

    .text {
        color: #fff;
        display: flex;
        font-size: 15px;
        align-items: center;
        justify-content: space-around;

        a {
            margin-left: 35px;
            text-decoration: none;
            color: #fff;
        }
    }
}

